.Budget-Container{
    background-color: #e1e1e1;
    width: 100%;
    height: 100vh;
    border-radius: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
    gap: 50px;
}

#remaining-budget{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

linebreak{
    margin: 0;
    display: block;
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
}

.card{
    width: 1000px;
    height: auto;
    background: white;
    border-radius: 25px;
    box-shadow: 0 4px 4px 0 #00000026;
}