.Budget-Container{
    background-color: #e1e1e1;
    width: 100%;
    height: 100vh;
    border-radius: 20px 0 0 0;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
    gap: 50px;
}