.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  background-color: #707070;
  width: 100%;
  box-sizing: border-box;
  display: none;
}

.header-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: #213547;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-placeholder {
  color: #707070;
  font-size: 0.9rem;
}