.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.income_form{
    position: relative;
    z-index: 2;
}

.income_form.card{
    width: 515px;
    height: auto;
}

.form-header{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 0 25px 0 25px;
    align-items: center;
    justify-content: space-between;
}

.form-header-content h2{
    padding: 14px 0 0 0;
    color: black;
    display: flex;

}

.close-form-button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.form-container{
    text-align: center;
    padding: 40px 0 40px 0;
}

/* .source-amount{
    display: flex;
    justify-content: right;
    width: 150px;
    background-color: white;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 4px 4px 0 #00000026;
    right: 0;
    padding: 5px 24px 5px 24px;
    z-index: 1;
} */
