.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #707070;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar_header{
    padding: 20px;
    border-bottom: 1px solid #34495e;
}

.sidebar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.nav-link{
    display: block;
    padding: 15px 20p;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-link:hover{
    background-color: #34495e;
}