p{
    margin: 0;
    padding: 0;
}

/* SIDEBAR */
.sidebar{
    width: 238px;
    height: 100vh;
    background-color: #707070;
    color: white;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 30px 30px 0 30px;
    gap: 15px;
    box-sizing: border-box;
}



/* SIDEBAR NAV */
.sidebar-nav{
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.nav-link{
    display: block;
    /* padding: 15px 20px; */
    color: white;
    text-decoration: none;
    /* font-size: 1.1rem; */
}

/* active nav link */
.nav-link.active {
  color: #54b93b;
  font-weight: 600;
}

/* SIDEBAR NAMECARD */
.name-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.name-card-badge{
    background-color: #f2f2f2;
    display: flex;
    color: #707070;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.name-card-badge p{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.name-card-userName{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    align-content: stretch;
}

.name-card-userName p{
    font-weight: 400;
}

.name-card-logOut{
    font-size: 10px;
    color: #54b93b;
}

.divider{
    width: 100%;
    height: .01em;
    background: #ebebeb;}