.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 20px;
  flex-grow: 1;
}